body {
    margin: 0;
    padding: 0;
}
 
.nav ul {
    list-style: none;
    background-color: #903749;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Cinzel', serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #53354a;
}

.nav a:active {
    color: rgb(204, 204, 204);
}
  
.nav a.active {
    background-color: #2b2e4a;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    }
    .nav li {
    display: inline-block;
    margin-right: -4px;
    }    
}

/* scroll bar style */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ad5e96;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #53354a;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #53354a;
} 